@import "tailwindcss";


/* -----------------------------------
   Global theme helpers
----------------------------------- */
/* FORCE DARK BASE */
html, body {
    background-color: #072338; /* prussian */
    color: rgb(241 245 249);   /* slate-100 */
  }
  
:root {
    --bg-grad:
      radial-gradient(1200px 600px at 10% 10%, rgba(99,102,241,.15), transparent 60%),
      radial-gradient(800px 400px at 90% 20%, rgba(16,185,129,.12), transparent 60%),
      radial-gradient(1000px 500px at 50% 100%, rgba(14,165,233,.10), transparent 60%);
  }
  
  .hero-grad {
    background-image: var(--bg-grad);
  }
  
  .glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  a:hover {
    color: #ffd089;
  }
  
  .prose ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1.25rem;
  }
  
  .prose ul li::marker {
    color: #eab308;
  }
  
  h6 {
    color: rgb(244 166 76);
    font-weight: 600;
    margin-top: 1rem !important;
  }